src/main/mule/ms-mercatinoitem.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="80b4d1e6-77db-41ba-90f7-853d633793ec" >
		<http:listener-connection host="0.0.0.0" port="8084" />
	</http:listener-config>
	<apikit:config outboundHeadersMapName="outboundHeadersMapName" httpStatusVarName="httpStatus" doc:name="Router" doc:id="bc0560df-2eb2-428f-8110-6a185f5078e0" name="Router" api="resource::cdf1abc7-b4a4-4c3a-81d1-6185b7fff788:api-ms-mercatino-item:1.0.2:raml:zip:api-ms-mercatino-item.raml" />
	<db:config name="Database_Config" doc:name="Database Config" doc:id="2848041a-9c9d-4797-90f4-74518bb5264a" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="password" database="mercatinodb" />
	</db:config>
	<flow name="ms-mercatinoitemFlow" doc:id="6c113571-f1b1-41f1-9806-9c714df9eb73" >
		<http:listener doc:name="Listener" doc:id="22d8653d-8062-4985-90e4-375c00e7b76e" config-ref="HTTP_Listener_config" path="/*"/>
		<apikit:router doc:name="APIkit Router" doc:id="25f8ddfa-1b53-42fe-9615-4b6fc4a52eec" config-ref="Router"/>
	</flow>
	<flow name="get:\Item\(item_id):application\json:Router" doc:id="06d031e8-4cc2-4f86-9c71-f36a86cdc70e" >
		<db:select doc:name="Select" doc:id="235545ac-b0d4-443e-920f-941a4fb41cfb" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT *
FROM items
WHERE ItemId=:item_id]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	"item_id":attributes.uriParams.item_id
}]]]></db:input-parameters>
		</db:select>
		<choice doc:name="Choice" doc:id="ee1750a6-7607-48a4-838e-3d57de060914" >
			<when expression="#[isEmpty(payload)]">
				<ee:transform doc:name="Non trovato" doc:id="4f7d88a8-3263-4527-b699-d9ca78488257" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---

{
	"meta": {
		"message": "Failed",
		"code": -1
	},
	"data": {
		"message": "No Item Found"
	}
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="Prodotto" doc:id="0b268afa-7a77-44c4-9fe0-e42f28962e66" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ((item, index) -> 
{
	"meta": {
		"message": "Success",
		"code": 0
	},
	"data": {
		"message": "Item Found",
		"Item": [{
			"ItemId": item.ItemId,
			"Name":item.Name,
			"Price":(item.Price as String {format:".00"} replace "," with ".") as Number
		}]
	}
} )]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
	</flow>
	<flow name="get:\Item:application\json:Router" doc:id="ae0dbc0a-2569-4a51-bfec-411dfb4834b2" >
		<db:select doc:name="Select by product Name" doc:id="feb35f3e-1ed5-4a80-8419-cef6a111bacb" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT *
FROM items
WHERE Name=:Name]]></db:sql>
			<db:input-parameters ><![CDATA[#[%dw 2.0
output application/java
---
{
	"Name":attributes.queryParams.Name
}]]]></db:input-parameters>
		</db:select>
		<choice doc:name="Choice" doc:id="5346107c-2ff4-4529-ae2b-bdb04ea6c00e" >
			<when expression="#[isEmpty(payload)]" >
				<ee:transform doc:name="Non trovato" doc:id="66981db6-a8ce-443e-8fe9-6dcb1880dba2" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---

{
	"meta": {
		"message": "Failed",
		"code": -1
	},
	"data": {
		"message": "No Item Found"
	}
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="Prodotto" doc:id="1b81c8b2-c546-4365-9775-a4cd3fff8bfb" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ((item, index) -> 
{
	"meta": {
		"message": "Success",
		"code": 0
	},
	"data": {
		"message": "Item Found",
		"Item": [{
			"ItemId": item.ItemId,
			"Name":item.Name,
			"Price":(item.Price as String {format:".00"} replace "," with ".") as Number
		}]
	}
} )]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
	</flow>
	<flow name="post:\Item:application\json:Router" doc:id="de61cd6d-92c0-458d-ab77-883fce2bf8bc" >
		<db:insert doc:name="Insert" doc:id="c781a4f2-4962-4990-b4d2-79270b670339" config-ref="Database_Config">
			<db:sql ><![CDATA[INSERT INTO items(Name, Price)
VALUES (:Name, :Price)]]></db:sql>
			<db:input-parameters ><![CDATA[#[%dw 2.0
output application/java
---
{
	"Name":payload.Name,
	"Price":payload.Price
}]]]></db:input-parameters>
		</db:insert>
	</flow>
</mule>
